bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
SourcesReplyBot/Properties/launchSettings.json
.idea/.idea.SourcesReplyBot/.idea/dataSources.local.xml
.idea/.idea.SourcesReplyBot/.idea/dataSources.xml
.idea/.idea.SourcesReplyBot/.idea/dataSources/7dd8e364-e314-499c-ada1-de6ef2b338cc.xml
.idea/.idea.SourcesReplyBot/.idea/dataSources/7dd8e364-e314-499c-ada1-de6ef2b338cc/storage_v2/_src_/database/pqoyvcpj.kvdtkA.meta
.idea/.idea.SourcesReplyBot/.idea/dataSources/7dd8e364-e314-499c-ada1-de6ef2b338cc/storage_v2/_src_/database/pqoyvcpj.kvdtkA/schema/information_schema.FNRwLQ.meta
.idea/.idea.SourcesReplyBot/.idea/dataSources/7dd8e364-e314-499c-ada1-de6ef2b338cc/storage_v2/_src_/database/pqoyvcpj.kvdtkA/schema/pg_catalog.0S1ZNQ.meta
.idea/.idea.SourcesReplyBot/.idea/dataSources/7dd8e364-e314-499c-ada1-de6ef2b338cc/storage_v2/_src_/database/pqoyvcpj.kvdtkA/schema/public.abK9xQ.meta
.idea/.idea.SourcesReplyBot/.idea/dataSources/7dd8e364-e314-499c-ada1-de6ef2b338cc/storage_v2/_src_/database/pqoyvcpj.kvdtkA/schema/public.abK9xQ.zip
